
<table class="main">
<tbody>

{% if slide.media %}
<tr>
	<td class="center">
		<img class="default img-fluid" src="{{ path('maci_media_get', {'path': slide.media.path}) }}" alt="{{ slide.media }}" />
	</td>
</tr>
{% endif %}

<tr>
	<td>
		<h2 class="default item-title">{{ slide.title }}</h2>
		<p class="default item-content">{{ slide.content }}</p>
	</td>
</tr>

</tbody>
</table>
