
{% if slide.media %}
<table class="main s-media">
<tbody>

<tr>
	<td class="center">
		<img class="default img-fluid" src="{{ url('maci_media_get', {'path': slide.media.path}) }}" alt="{{ slide.media }}" />
	</td>
</tr>

</tbody>
</table>
{% endif %}

{% if slide.title %}
<table class="main s-title">
<tbody>

<tr>
	<td class="center">
		<h2 class="default item-title">{{ slide.title }}</h2>
	</td>
</tr>

</tbody>
</table>
{% endif %}

{% if slide.content %}
<table class="main s-text">
<tbody>

<tr>
	<td class="center">
		<p class="default item-content">{{ slide.content }}</p>
	</td>
</tr>

</tbody>
</table>
{% endif %}
