
{% if list|length %}

<div class="container-fluid product-list">

<div class="row">

{% for item in list %}

{% include "MaciPageBundle:Shop:_item.html.twig" %}

{% if ( loop.index % 4 ) == 0 %}

</div>

<div class="row">

{% endif %}

{% endfor %}

</div>

</div>

{% endif %}
