
{% if item.sideImages|length %}
<div class="product-media-list">

{% for image in item.sideImages %}
<div class="product-media-wrapper">

{% include "MaciPageBundle:Shop:_media_preview.html.twig" with {'item': image.media} %}

</div>
{% endfor %}

</div>
{% endif %}
