
{% if not item.limited %}
{% set quantity = 10 %}

{% elseif variant is defined %}
{% set quantity = item.quantity(variant) %}

{% else %}
{% set quantity = item.quantity %}

{% endif %}

{% if quantity < 1 %}
<span class="product-notavailable">{{ 'product.notavailable' | matra('Product Not Available.') }}</span>
{% elseif quantity < 4 %}
<span class="detail-label product-quantity-available">{{ 'product.quantity_available' | matra('Quantity Available') }}:</span>
<span class="detail-info product-quantity-val">{{ quantity }}</span>
{% else %}
<span class="detail-label product-available">{{ 'product.available-immediately' | matra('Available Immediately') }}.</span>
{% endif %}
