
{% if not item.limited %}
{% set quantity = 10 %}

{% elseif variant is defined %}
{% set quantity = item.quantity(variant) %}

{% else %}
{% set quantity = item.quantity %}

{% endif %}



{% if quantity < 1 %}

<span class="product-available-label not-available">
	{{ 'product.notavailable' | matra('Product Not Available.') }}
</span>

{% elseif quantity < 4 %}

<span class="product-quantity-label available">
	{{ 'product.quantity_available' | matra('Quantity Available') }}:
</span>
<span class="product-quantity-val">
	{{ quantity }}
</span>

{% else %}

<span class="product-available-label available-now">
	{{ 'product.available-immediately' | matra('Available Immediately') }}.
</span>

{% endif %}
