
{% if not item.limited %}
{% set quantity = 10 %}

{% elseif variant is defined %}
{% set quantity = item.quantity(variant) %}

{% else %}
{% set quantity = item.quantity %}

{% endif %}

{% if quantity < 9 %}
<li>
	<span class="product-quantity_available">{{ 'product.quantity_available' | matra('Quantity Available') }}: {{ quantity }}</span>
</li>
{% else %}
<li>
	<span class="product-available">{{ 'product.available-immediately' | matra('Available Immediately') }}.</span>
</li>
{% endif %}
