
{% include "MaciPageBundle:Shop:_list.html.twig" %}

<div class="container-fluid">

<a class="btn btn-primary" href="{{ path('maci_product') }}">
	{{ 'slides.show-all-products'|matra('Show All Products') }}
</a>

</div>
