{% extends "@MaciPage/Layout/void.html.twig" %}

{% block content %}

<h3>Sales</h3>

<p>Ciao come va benone grazie. Ciao come va benone grazie. Ciao come va benone grazie. Ciao come va benone grazie. Ciao come va benone grazie. Ciao come va benone grazie.</p>

{% endblock %}
