
@font-face {
	font-family: "Libre Barcode EAN13 Text";
	src: url("http://base.localhost/bundles/macipage/webfonts/ean13.ttf");
}

body, table, tr, th, td, div, h4 {
	padding: 0;
	margin: 0;
}

body, p, span, h4, th {
	padding: 0;
	margin: 0;
	font-weight: normal;
	text-align: left;
}

h4 {
	display: inline;
}

.page {
	padding: 2px 15px;
	width: 970px;
	padding: 32px;
}

.page-content > table {
	width: 100%;
}

@media print {
	.page {
		page-break-before: always;
	}
	.page.first {
		page-break-before: avoid;
	}
}

th {
	padding: 0 0 6px 0;
}

td {
	vertical-align: top;
}

thead th {
	border-bottom: 1px solid black;
}

tbody td {
	border-bottom: 0.5px solid gray;
	height: 16px;
}

.title {
	text-transform: uppercase;
	font-size: 11pt;
	line-height: 16px;
}

.spacer {
	padding: 0 0 12px 0;
	border-bottom: 0 none;
}

th,
.title.bold,
.address-detail.name {
	font-weight: bold;
}

.cell-text {
	padding: 0 4px;
}

.t-right {
	text-align: right;
}

.main-title {
	padding: 0 0 16px;
}

.address-wrapper {
	padding: 16px 0;
}

.addresses-header {
	margin-bottom: 36px;
}
