{% extends "@MaciPage/base.html.twig" %}

{% block bodyTag %}<body id="bodyCheckout">{% endblock %}

{% block body %}
<div id="checkoutContainer" class="container">

	<header id="checkoutHeader">
		{% include "@MaciPage/Order/_checkout_header.html.twig" %}
	</header>

	{% block flashBag %}
	{% set flashList = app.session.flashbag.all() %}
	{% if flashList|length %}
	<div id="flashBagWrapper" class="container">
	{% for type, messages in flashList %}
		{% for message in messages %}
		<div class="alert alert-{{ type }}">
			{{ message|matra(message) }}
		</div>
		{% endfor %}
	{% endfor %}
	</div>
	{% endif %}
	{% endblock %}

	{% block container %}{% endblock container %}

</div>
{% endblock body %}
