{% extends "@MaciPage/base.html.twig" %}

{% block body %}

<div id="checkoutWrapper" class="p-4">

	{% block flashBag %}
	{% if app.request.hasPreviousSession %}
	<div id="flashBagWrapper" class="container px-0 py-2">
	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
		<div class="alert alert-{{ type }}">
			{{ message|matra(message) }}
		</div>
		{% endfor %}
	{% endfor %}
	</div>
	{% endif %}
	{% endblock %}

	<div id="checkoutContainer" class="p-4">

	{% block container %}{% endblock container %}

	</div>

</div>

{% endblock body %}
