
{% extends "@MaciPage/Layout/layout.html.twig" %}


{% block bodyTag %}<body id="bodyMedia" class="navTop">{% endblock %}


{% block searchForm %}
{{ render(controller('MaciSearchBundle:Search:form', {'section': 'media', 'label': ('form.search.media'|matra('Search Media')) })) }}
{% endblock %}


{% block leftMenu %}

	<nav>{{ knp_menu_render('gallery', {'currentClass': 'active'}) }}</nav>

{% endblock %}
