
{% if list|length %}


<div class="list-default user-mails-list">
<table class="table table-striped">

<thead>
<tr class="list-header">

	<th class="list-header">
		<span class="list-title">Subject</span>
	</th>

	<th class="list-header">
		<span class="list-title">Date</span>
	</th>

	<th class="list-header">
		<span class="list-title">Action</span>
	</th>

</tr>
</thead>

<tbody>

{% for item in list %}

<tr class="list-item">

	<td>
		<span>{{ item.subject }}</span>
	</td>

	<td>
		<span>{{ item.created|date('d/m/Y') }}</span>
	</td>

	<td>
		<a class="btn" href="{{ path('maci_mailer_show', {'token': item.token}) }}" target="_blank">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			Show
		</a>
	</td>

</tr>

{% endfor %}

</tbody>
</table>

{% endif %}
