{% extends "MaciAdminBundle::layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/mail_import.js') }}" ></script>
{% endblock %}


{% block content %}

<form id="import_form">

<h3>Import Mails</h3>

<div class="p-2">

<div class="form-group">
	<label class="required" for="import_locale">Locale</label>
	<select id="import_locale" name="import[locale]" class="form-control">
		<option value="af">Afrikaans</option><option value="ak">Akan</option><option value="sq">Albanese</option><option value="am">Amarico</option><option value="ar">Arabo</option><option value="hy">Armeno</option><option value="as">Assamese</option><option value="az">Azerbaigiano</option><option value="bm">Bambara</option><option value="eu">Basco</option><option value="bn">Bengalese</option><option value="be">Bielorusso</option><option value="my">Birmano</option><option value="bs">Bosniaco</option><option value="br">Bretone</option><option value="bg">Bulgaro</option><option value="ca">Catalano</option><option value="ce">Ceceno</option><option value="cs">Ceco</option><option value="zh">Cinese</option><option value="ko">Coreano</option><option value="kw">Cornico</option><option value="hr">Croato</option><option value="ku">Curdo</option><option value="da">Danese</option><option value="dz">Dzongkha</option><option value="he">Ebraico</option><option value="eo">Esperanto</option><option value="et">Estone</option><option value="ee">Ewe</option><option value="fo">Faroese</option><option value="fi">Finlandese</option><option value="fr">Francese</option><option value="fy">Frisone occidentale</option><option value="ff">Fulah</option><option value="gd">Gaelico scozzese</option><option value="gl">Galiziano</option><option value="cy">Gallese</option><option value="lg">Ganda</option><option value="ka">Georgiano</option><option value="ja">Giapponese</option><option value="jv">Giavanese</option><option value="el">Greco</option><option value="kl">Groenlandese</option><option value="gu">Gujarati</option><option value="ha">Hausa</option><option value="hi">Hindi</option><option value="ig">Igbo</option><option value="id">Indonesiano</option><option value="en">Inglese</option><option value="ia">Interlingua</option><option value="ga">Irlandese</option><option value="is">Islandese</option><option value="it" selected="selected">Italiano</option><option value="kn">Kannada</option><option value="ks">Kashmiri</option><option value="kk">Kazako</option><option value="km">Khmer</option><option value="ki">Kikuyu</option><option value="rw">Kinyarwanda</option><option value="ky">Kirghiso</option><option value="lo">Lao</option><option value="lv">Lettone</option><option value="ln">Lingala</option><option value="lt">Lituano</option><option value="lu">Luba-katanga</option><option value="lb">Lussemburghese</option><option value="mk">Macedone</option><option value="ml">Malayalam</option><option value="ms">Malese</option><option value="mg">Malgascio</option><option value="mt">Maltese</option><option value="gv">Mannese</option><option value="mi">Maori</option><option value="mr">Marathi</option><option value="mn">Mongolo</option><option value="nd">Ndebele del nord</option><option value="ne">Nepalese</option><option value="no">Norvegese</option><option value="nb">Norvegese bokmål</option><option value="nn">Norvegese nynorsk</option><option value="or">Odia</option><option value="nl">Olandese</option><option value="om">Oromo</option><option value="os">Ossetico</option><option value="ps">Pashto</option><option value="fa">Persiano</option><option value="pl">Polacco</option><option value="pt">Portoghese</option><option value="pa">Punjabi</option><option value="qu">Quechua</option><option value="rm">Romancio</option><option value="ro">Rumeno</option><option value="rn">Rundi</option><option value="ru">Russo</option><option value="se">Sami del nord</option><option value="sg">Sango</option><option value="sr">Serbo</option><option value="sh">Serbo-croato</option><option value="sn">Shona</option><option value="ii">Sichuan yi</option><option value="sd">Sindhi</option><option value="si">Singalese</option><option value="sk">Slovacco</option><option value="sl">Sloveno</option><option value="so">Somalo</option><option value="es">Spagnolo</option><option value="sv">Svedese</option><option value="sw">Swahili</option><option value="tl">Tagalog</option><option value="tg">Tagico</option><option value="ta">Tamil</option><option value="tt">Tataro</option><option value="de">Tedesco</option><option value="te">Telugu</option><option value="th">Thai</option><option value="bo">Tibetano</option><option value="ti">Tigrino</option><option value="to">Tongano</option><option value="tr">Turco</option><option value="tk">Turcomanno</option><option value="uk">Ucraino</option><option value="ug">Uiguro</option><option value="hu">Ungherese</option><option value="ur">Urdu</option><option value="uz">Uzbeco</option><option value="vi">Vietnamita</option><option value="wo">Wolof</option><option value="xh">Xhosa</option><option value="yi">Yiddish</option><option value="yo">Yoruba</option><option value="zu">Zulu</option>
	</select>
</div>

<div class="form-group">
<label for="import_data">Data:</label>
<textarea id="import_data" class="form-control" required="required" placeholder="Insert Data"></textarea>
</div>

<div class="form-group">
	<button id="import_submit_txt" class="btn btn-primary" type="submit">Import TXT</button>
	{#}<button id="import_submit_xml" class="btn btn-primary" type="submit">Import XML</button>{#}
</div>

</div>

<h3>Check User Subscriptions</h3>

<div class="p-2">

<div class="form-group">
	<button id="checkSubscriptions" class="btn btn-primary" type="submit">Check Subscriptions</button>
</div>

<div class="list" class="p-2">
</div>

</div>

</form>

{% endblock %}
