{% extends "@MaciPage/layout.html.twig" %}


{% block title %}

{{ 'mailer.index.meta_title' | matra('Mailer Dashboard') }}

{% endblock %}


{% block content %}

<h1>Mailer Dashboard</h1>

{% endblock %}
