
{# Print content from mail.Slides #}
{% if mail.Slides|length %}
{% include "@MaciPage/Mailer/newsletter.html.twig" %}

{# Print content stored in mail.content #}
{% elseif mail.content is not null %}
{{ mail.content|raw }}

{# Print content stored in mail.text #}
{% elseif mail.text is not null %}
{{ mail.text }}

{# No Content #}
{% else %}

<!DOCTYPE html>
<html>
<head>
	<title>No Content</title>
</head>
<body>
	<p>Nothing here.</p>
</body>
</html>

{# End #}
{% endif %}
