

{% if page.category and page.category.currentItems|length %}

<section class="page_products container-fluid">

	{% include "MaciProductBundle:Default:_category_list.html.twig" with { 'category': page.category }  %}

</section>

{% endif %}


{% if page.album and ( page.album.children|length or page.album.images|length ) %}

{% include "MaciMediaBundle:Default:_album_preview.html.twig" with { 'album': page.album }  %}

{% endif %}


{% if page.gallery and page.gallery.images|length %}

<section class="page_gallery container-fluid">

	{% include "MaciMediaBundle:Default:_gallery_preview.html.twig" with { 'album': page.gallery }  %}

</section>

{% endif %}


{% if page.tag and page.tag.posts|length %}

<section class="page_posts container-fluid">

	{% include "MaciBlogBundle:Default:_list.html.twig" with { 'list': page.tag.posts }  %}

</section>

{% endif %}

