
<section class="page_contact page_container row">

<div class="contacts_address col-xs-12 col-sm-6">

	{% include "MaciPageBundle:Default:_contacts.html.twig" %}

	{% include "MaciPageBundle:Default:_opening_hours.html.twig" %}

</div>
<div class="col-xs-12 col-sm-6">

	{{ render(controller('MaciContactBundle:Default:form')) }}

</div>

</section>
