
{% extends "MaciPageBundle::layout.html.twig" %}

{% use "MaciPageBundle:Default:_page_default_blocks.html.twig" %}

{% block bodyTag %}<body id="bodyAboutPage">{% endblock %}


{% block content %}

<div class="page-container about-page">

{% include "MaciPageBundle:Default:_page.html.twig" with { 'page': page } %}

</div>

{% endblock %}
