
{% extends "MaciPageBundle::layout.html.twig" %}



{% block content %}


<div class="col-xs-5">

	<h2 id="maciContactContact_formTitle">Contacts</h2>

	<p>
		Mah!<br/>
		E-Mail: <a href="mailto:mah@mah.com">mah@mah.com</a>
	</p>

</div>
<div class="col-xs-6">

{#{ render(controller('MaciContactBundle:Default:form')) }#}

</div>
<div class="col-xs-1">

&nbsp;

</div>
</div>


{% endblock %}
