
{% extends "MaciPageBundle::layout.html.twig" %}



{% block container %}


<div class="col-xs-6">

	<h2 id="maciContactContact_formTitle">Contacts</h2>

	{% include "MaciPageBundle:Default:_contacts.html.twig" %}


</div>
<div class="col-xs-6">

{{ render(controller('MaciContactBundle:Default:form')) }}

</div>
</div>


{% endblock %}
