
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyPage">{% endblock %}


{% block maciadmin %}

<a class="btn btn-success ma-form" href="{{ path('maci_admin_entity_form', {'entity': 'page', 'id': page.id}) }}">Edit Page</a>

<a class="btn btn-primary ma-form" href="{{ path('maci_admin_entity_new', {'entity': 'page'}) }}">New Page</a>

{% endblock %}


{% block title %}

<title>{{ page.meta_title }}</title>

{% endblock %}

{% block description %}

<meta name="description" content="{{ page.meta_description }}" />

{% endblock %}


{% block container %}

{% include "MaciPageBundle:Default:_page.html.twig" with { 'page': page } %}

{% endblock %}
