
{% extends "MaciPageBundle::layout.html.twig" %}

{% use "MaciPageBundle:Default:_page_default_blocks.html.twig" %}


{% block container %}

<div class="page-container fullpage">

{% include "MaciPageBundle:Default:_page.html.twig" with { 'page': page } %}

</div>

{% endblock %}
