
{% extends "MaciPageBundle::layout.html.twig" %}


{% block maciadmin %}

{% render(controller('MaciAdminBundle:Default:adminBar', { 'entity': 'page' } )) %}

{% endblock %}


{% block container %}

<div class="container-fluid notfound-page">

<section>

	<h3>{{ 'page.notfound' | matra('Page not found.') }}</h3>

</section>

</div>

{% endblock %}
