
{% extends "MaciPageBundle::layout.html.twig" %}


{% block maciadmin %}

<a class="btn btn-primary ma-form" href="{{ path('maci_admin_entity_new', {'entity': 'page'}) }}">New Page</a>

{% endblock %}


{% block content %}

<section class="row">

	<p>{{ 'page.notfound' | matra('Page not found.') }}</p>

	{% if is_granted("ROLE_ADMIN") %}

	<a class="btn btn-success ma-form" href="{{ path('maci_admin_entity_form', {'entity': 'language', 'id': ('page.notfound'|matraid)}) }}" alt="page.notfound">Edit</a>

	{% endif %}

</section>

{% endblock %}
