
<div class="row mx-0 contacts-row">
<div class="contacts-address col-md">

{% include "@MaciPage/Page/_contacts.html.twig" %}

</div>
<div class="contacts-form col-md">

{{ render(controller('MaciPageBundle:Contact:form')) }}

</div>
</div>
