

{% if page.map %}

<section class="page_map row">

	{{ page.map|raw }}

</section>

{% endif %}


{% if page.footer %}

<section class="page_footer row">

	{{ page.footer|raw }}

</section>

{% endif %}

