
{% if page.slides and page.slides.slides|length %}

<section class="page_slides container-fluid">

	{% include "MaciPageBundle:Media:_slides.html.twig" with {'album': page.slides}  %}

</section>

{% endif %}
