
{% extends "@MaciPage/Layout/layout.html.twig" %}

{% use "@MaciPage/Page/_page_default_blocks.html.twig" %}

{% block bodyTag %}<body id="bodyContactPage">{% endblock %}


{% block container %}

<div class="page-container contacts-page">

{% include "@MaciPage/Page/_page_slider.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_slides.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_header.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_content.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_contacts.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_media.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_footer.html.twig" with { 'page': page } %}

</div>

{% endblock %}
