
{% extends "@MaciPage/Layout/layout.html.twig" %}

{% use "@MaciPage/Page/_page_default_blocks.html.twig" %}

{% block bodyTag %}<body id="bodyContacts">{% endblock %}

{% block container %}

<div class="page-container contacts-page">

{% include "@MaciPage/Page/_page_slides.html.twig" %}

{% include "@MaciPage/Page/_page_header.html.twig" %}

{% include "@MaciPage/Page/_page_content.html.twig" %}

{% include "@MaciPage/Page/_page_contacts.html.twig" %}

{% include "@MaciPage/Page/_page_media.html.twig" %}

{% include "@MaciPage/Page/_page_footer.html.twig" %}

</div>

{% endblock %}
