{% extends "@MaciPage/Layout/layout.html.twig" %}

{% use "@MaciPage/Page/_page_default_blocks.html.twig" %}

{% block bodyTag %}<body id="bodyFullPage">{% endblock %}

{% block container %}
<div class="page-container fullpage">

{% include "@MaciPage/Page/_page.html.twig" %}

</div>
{% endblock %}
