
{% if send %}

<div class="alert alert-success" role="alert">
	<span class="send_confirm">{{ 'contacts.form.send_confirm'|matra('Message sent.') }}</span>
</div>

{% endif %}

{% include "@MaciPage/Contact/_form.html.twig" with { 'form': form } %}
