{% extends "MaciAdminBundle::layout.html.twig" %}

{% block content %}
<h3>Export</h3>
<form id="sales_form" class="p-2">
<div class="form-group">
	<label class="required" for="sales_set">Set</label>
	<select id="sales_set" class="form-control">
		<option value="null">Select Record Set</option>
	</select>
</div>
<div class="form-group">
	<label class="required" for="sales_type">Type</label>
	<select id="sales_type" class="form-control">
		<option value="sale">Sale</option>
		<option value="return">Customer Return</option>
		<option value="back">Supplier Return</option>
		{#}<option value="purchas">Purchase</option>{#}
		<option value="quantity">Show Quantity</option>
		<option value="check">Check Quantity</option>
	</select>
</div>
<div class="row">
<div class="col-12 col-sm-3">
<div class="form-group">
	<label class="required" for="code_type">Type</label>
	<select id="code_type" class="form-control">
		<option value="barcode">Barcode</option>
		<option value="code">Code</option>
	</select>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
	<label class="required" for="data_barcode">Barcode</label>
	<input id="data_barcode" class="form-control" type="text" />
</div>
</div>
<div class="col-12 col-sm-3">
<div class="form-group">
	<label class="required" for="data_quantity">Quantity</label>
	<input id="data_quantity" class="form-control" type="number" value="1" />
</div>
</div>
</div>
<div class="form-group">
	{#}<button id="sales_submit" class="btn btn-primary" type="submit">sales</button>{#}
</div>
</form>
<div id="output" style="padding: 32px 0;"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{#}<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>{#}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/export.js') }}" ></script>
{% endblock %}
