{% extends "MaciAdminBundle::layout.html.twig" %}

{% block content %}
<h3>Import Order</h3>
<form id="import_form" class="p-2">
<div class="form-group">
	<label class="required" for="import_set">Set</label>
	<select id="import_set" name="import[set]" class="form-control">
		<option value="null">Select Record Set</option>
	</select>
</div>
<div class="form-group">
	<input type="file" id="dataFile">
</div>
<div class="form-group">
	<button id="import_submit" class="btn btn-primary" type="submit">Import XML</button>
</div>
</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/import.js') }}" ></script>
{% endblock %}
