{% extends "@MaciPage/Layout/void.html.twig" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap" rel="stylesheet" />
{% endblock %}

{% block body %}

<section class="label">
	<p class="code">{{ code }}</p>
</section>

<style type="text/css">

.label {
	height: 25mm;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.code {
	font-family: 'Libre Barcode EAN13 Text', cursive;
	font-size: 66.6pt;
	text-align: right;
	padding: 8pt 8pt 0 0;
}

</style>

{% endblock %}
