{% extends "@MaciPage/Layout/void.html.twig" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap" rel="stylesheet" />
{% endblock %}

{% block body %}

<section class="label">
	<h4 class="title">Titolo</h4>
	<p class="code">{{ code }}</p>
</section>

<style type="text/css">

.label {
	height: 25mm;
	width: 60mm;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.code, .title {
	position: absolute;
	top: 2mm;
	padding: 0;
	margin: 0;
}

.code {
	font-family: 'Libre Barcode EAN13 Text', cursive;
	font-size: 66.6pt;
	line-height: 66.6pt;
	left: 20mm;
}

.title {
	left: 2mm;
}

</style>

{% endblock %}
