{% extends "MaciAdminBundle::layout.html.twig" %}

{% block content %}

<h3>Reports</h3>

<div class="list-default">
<table class="table table-striped">

<thead>
<tr class="list-header">
	<th width="60%" class="list-header">
		<span class="list-title">Name</span>
	</th>
	<th class="list-header">
		<span class="list-title">Action</span>
	</th>
</tr>
</thead>

<tbody>

<tr class="list-item">
	<td>
		<span>Shop > Inventory</span>
	</td>
	<td>
		<a class="btn" href="{{ path('maci_record_reports_inventory') }}" target="_blank">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			Show
		</a>
	</td>
</tr>

<tr class="list-item">
	<td>
		<span>Shop > Products</span>
	</td>
	<td>
		<a class="btn" href="{{ path('maci_record_reports_store') }}" target="_blank">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			Show
		</a>
	</td>
</tr>

</tbody>
</table>
</div>

<h4>Records</h4>

<form id="form-records" action="{{ path('maci_record_reports_records') }}">

<div class="form-group">
	<label for="after">From:</label>
	<input id="after" type="date" name="after" class="form-control" />
</div>

<div class="form-group">
	<label for="before">To:</label>
	<input id="before" type="date" name="before" class="form-control" />
</div>

<div class="form-group">
	<label for="collection">Collection:</label>
	<input id="collection" type="text" name="collection" class="form-control" value="*" />
</div>

<div class="form-group">
	<label for="report-type">Report Type:</label>
	<select id="report-type" name="report" class="form-control">
		<option value="default">Default</option>
		<option value="totals">Totals</option>
	</select>
</div>

<div class="form-group">
	<input class="btn btn-primary" type="submit" value="Show" />
</div>

</form>

{% endblock %}
