
{% if list is not defined %}
{% if album is defined %}
{% set list = album.images %}
{% else %}
{% set list = pager.result %}
{% endif %}
{% endif %}

{% if list|length %}

{% if limit is defined and limit %}
{% set list = list|slice(0, limit) %}
{% endif %}

<div class="media-list container-fluid">

<div class="row">

{% for item in list %}

<div class="col-12 col-sm-6 col-md-3 {% if loop.index is odd %}odd{% else %}even{% endif %}">

	{% if album is defined %}
	{% include "@MaciPage/Media/_album_media_item.html.twig" %}
	{% else %}
	{% include "@MaciPage/Media/_media_item.html.twig" %}
	{% endif %}

</div>

{% if ( loop.index % 2 ) == 0 and not ( loop.index % 4 ) == 0 %}
<div class="clearfix visible-sm-block"></div>
{% endif %}

{% if ( loop.index % 4 ) == 0 and not loop.last %}
</div><div class="row">
{% endif %}

{% endfor %}

</div>
</div>

{% endif %}

