
{% if list is not defined %}
{% set list = pager.result %}
{% endif %}

{% if list|length %}

<div class="container-fluid">

<div class="row">

{% for item in list %}

<div class="col-xs-12 col-sm-6 col-md-3 {% if loop.index is odd %}odd{% else %}even{% endif %}">

	{% include "@MaciPage/Media/_item.html.twig" with { 'item': item } %}

</div>

{% if ( loop.index % 4 ) == 0 %}

</div>

<div class="row">

{% endif %}

{% endfor %}

</div>

</div>

{% endif %}

