
{% if slider_filter is not defined %}
{% set slider_filter = 'maci_media_gallery' %}
{% endif %}

<!-- Quads slides mobile -->
<div id="{{ carousel_id }}" class="carousel-quads slide {{ type }} d-md-none" data-ride="carousel" data-pause="false" data-interval="5000">

<!-- Wrapper for slides -->
<div class="carousel-inner quads">

{% for item in list %}

<div class="carousel-item image quads-item {% if loop.first %} active{% endif %}">

	{% include "@MaciPage/Media/_slider_quads_content.html.twig" %}

</div>

{% endfor %}

</div>

</div>



<!-- Quads slides desktop -->
<div id="{{ carousel_id }}" class="carousel-quads slide {{ type }} d-none d-md-block" data-ride="carousel" data-pause="false" data-interval="7500">

<!-- Wrapper for slides -->
<div class="carousel-inner quads">

<div class="carousel-item image active">

	<div class="row">

	{% for item in list %}

		<div class="quads col-xs-12 col-sm-6 px-0">

			{% include "@MaciPage/Media/_slider_quads_content.html.twig" %}

		</div>

	{% if ( loop.index % 2 ) == 0 and not loop.last %}

	</div>

{% if ( loop.index % 4 ) == 0 and not loop.last %}

</div>
<div class="carousel-item image quads">

{% endif %}

	<div class="row">

	{% endif %}

	{% endfor %}

	</div>
</div>

</div>

</div>
