
{% if controls is not defined %}
{% set controls = true %}
{% endif %}

{% if controls and 1 < len %}

<a class="carousel-control carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
</a>

<a class="carousel-control carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>

{% endif %}
