
{% extends "@MaciPage/Layout/media.html.twig" %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'media_tag' } )) }}

{% endblock %}


{% block title %}

{{ 'media.tags.meta_title' | matra('Media Tags') }}

{% endblock %}

{% block description %}

<meta name="description" content="{{ 'media.tags.meta_description' | matra('Tags List') }}" />

{% endblock %}


{% block pathBar %}
<nav>
<ol class="breadcrumb">

    <li class="active">
    		{{ 'menu.media.tags' | matra('Media Tags') }}
    </li>

</ol>
</nav>
{% endblock %}


{% block content %}

{% include "@MaciPage/Media/_tag_list.html.twig" with { 'list': list } %}

{% endblock %}

