
/*
 *      Tags
 */

body {
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-weight: lighter;
    color: #000;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li > ul, li > ul.nav {
    padding-left: 12px;
}

select {
    color: #000;
}

h1 {}

h2 {
    font-size: 16pt;
}

p {
    margin: 0;
}

/*
 *      Layout
 */

#main {
    padding: 60px 0 0;
}

#header,
#maciadmin,
#mainContainer,
#footer {
    background-color: #fff;
}

#header {
    padding: 0 40px;
}

.carousel.slide .item img {
    margin: 0 auto;
}

#mainMenu {
    padding: 36px 0 0 0;
}

#mainMenu ul {
    margin: 0;
}

#mainMenu li a, #pathMenu li a {
    color: #000;
    margin: 0 5px;
}

#mainMenu li.active a {
    background-color: #ddd;
}

#searchForm form {
    text-align: right;
}

#searchForm .form-group {
    padding-top: 8px;
    text-align: right;
}

/*
 *      Pages
 */

.page_container {
    padding: 0 15px;
}

.page_title {}
.page_subtitle {}

/*
 *      Lists
 */

.media, .product {
    margin-bottom: 8px;
}

.media-description {
    padding: 0 6px;
}

/*
 *      Footer
 */

#footer {
	clear: both;
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
}

#footer p {
    margin: 0;
}

/*
 *      Modals
 */

.modal {
    color: #000;
}

.modal-body .media {
    margin-bottom: 8px;
}

.modal-body .media.selected {
    background-color: #F1F6F7;
}

/*
 *      Addresses
 */

.maci-user-address-form label {
    display: none;
}

.maci-user-address-form .method label {
    display: inline;
}

/*
 *      Products
 */

.product-sale {
    text-decoration: line-through;
}

.product-category.sortable .btn {
    display: inline;
    padding: 6px;
}

/*
 *      Orders
 */

.cart-list {
    padding: 15px 30px;
}

.checkout-options {
    padding: 15px 30px;
}

.order-item-quantity-form, .order-item-remove-form {
    display: inline;
}

.edit-quantity-field, #cart_edit_item_quantity {
    width: 75px;
    margin-right: 5px;
}

/*
 *      Start PopUp
 */

#startPopUp {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36,30,32,0.9);
    z-index: 1300;
}

.popup-container {
    height: 450px;
    width: 500px;
    margin: 80px auto;
    border: 4px solid #ccc;
    background-color: #241E20;
    border-radius: 6px;
    color: #FFF6F9;
    padding: 10px 30px;
    text-align: center;
}
