
body {
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-weight: lighter;
    color: #fff;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li > ul {
    padding-left: 12px;
}

#main {
	padding: 100px 40px 0;
}

.modal {
    color: #000;
}

.image {
    margin-bottom: 8px;
    height: 330px;
}

.modal-body .image {
    margin-bottom: 8px;
    height: 260px;
}

.modal-body .image.selected {
    background-color: #F1F6F7;
}

#footer {
	clear: both;
}

#footer p {
	padding: 60px;
	text-align: center;
}

/*
 *      MaciBundles
 */

.maci-user-address-form label {
    display: none;
}

/*.maci-album {
    border: 2px solid #fff;
}*/

.form-inline .edit-quantity-field {
    width: 60px;
}
