
.maci-lightbox,
.maci-lightbox-loader-icon {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	overflow: auto;
}

.maci-lightbox {
	z-index: 4444;
}

.maci-lightbox-loader-icon {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/loading.gif');
}

.maci-lightbox-container > div {
	text-align: center;
}

.maci-lightbox .nav-item {
	padding-left: 15px;
}

.maci-lightbox-fullscreen-button > span.icon-full,
.maci-lightbox-fullscreen-button > span.icon-reduce { padding-top: 4px; }
.maci-lightbox-fullscreen-button > span.icon-full { display: block; }
.maci-lightbox-fullscreen-button > span.icon-reduce { display: none; }
.maci-lightbox-fullscreen-button.on-fullscreen > span.icon-full { display: none; }
.maci-lightbox-fullscreen-button.on-fullscreen > span.icon-reduce { display: block; }
.maci-lightbox-close-button { padding: 8px 8px 0; }
.maci-lightbox-close-button > span { font-size: 18pt; }

.maci-lightbox-slider {
	position: relative;
}

.maci-lightbox-imape-wrapper {
	padding-top: 20px;
	padding-bottom: 15px;
}

.maci-lightbox-image,
.maci-lightbox-image-brand-image {
	margin: 0 auto;
}

.maci-lightbox-image-info {
	background-color: #fff;
}

.maci-lightbox-image-brand,
.maci-lightbox-image-description {
	padding: 30px 15px;
	color: #333;
	font-size: 14pt;
	letter-spacing: 0.4px;
}
