
.lightbox,
.lightbox-loader-icon {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.lightbox,
.lightbox-loader-icon,
.lightbox > .navbar {
	background-color: #3a3a3a;
}

.lightbox {
	z-index: 9980;
}

.lightbox-loader-icon {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/defaults/loading.gif');
}

.lightbox-container > div {
	text-align: center;
}

.lightbox .nav-item {
	padding-left: 15px;
}

.lightbox-fullscreen-button > span.icon-full,
.lightbox-fullscreen-button > span.icon-reduce { padding-top: 4px; }
.lightbox-fullscreen-button > span.icon-full { display: block; }
.lightbox-fullscreen-button > span.icon-reduce { display: none; }
.lightbox-fullscreen-button.on-fullscreen > span.icon-full { display: none; }
.lightbox-fullscreen-button.on-fullscreen > span.icon-reduce { display: block; }
.lightbox-close-button { padding: 8px 8px 0; }
.lightbox-close-button > span { font-size: 18pt; }

.lightbox-slider {
	position: relative;
	background-color: #1a1a1a;
}

.lightbox-controller {
	position: absolute;
	width: 15%;
	height: 100%;
	top: 0;
	justify-content: center;
	text-align: center;
	opacity: 0.5;
	color: #fff;
	transition: opacity .15s ease;
	display: flex;
	align-items: center;
}

.lightbox-controller:hover {
	color: #fff;
	opacity: 0.9;
}

.lightbox-controller.left {
	left: 0;
}

.lightbox-controller.right {
	right: 0;
}

.lightbox-controller > span {
	font-size: 24pt;
}

.lightbox-imape-wrapper {
	padding-top: 20px;
	padding-bottom: 15px;
}

.lightbox-image,
.lightbox-image-brand-image {
	margin: 0 auto;
}

.lightbox-image-info div {
	color: #e6e6e6;
}

.lightbox-image-brand,
.lightbox-image-description {
	padding-bottom: 15px;
	color: #333;
	font-size: 14pt;
	letter-spacing: 0.4px;
}

.lightbox-image-info {
	padding: 30px 15px 60px;
}

.lightbox-thumbs-wrapper {
	background-color: #2a2a2a;
}

.lightbox-thumbs-wrapper > a > img {
	max-width: 120px;
	max-height: 120px;
	padding: 15px;
}

.lightbox-image-detail .label,
.lightbox-image-detail .value {
	color: #9a9a9a;
}

.lightbox-image-detail .label {
	text-align: right;
}

.lightbox-image-detail .value {
	text-align: left;
}
