
{% if item.name is not null %}

<div class="header-wrapper">
<header>
	{% if item.link %}
	<a href="{{ item.link }}" alt="{{ item.name }}">
		<h3 class="slide-title">{{ item.name }}</h3>
	</a>
	{% else %}
	<h3>{{ item.name }}</h3>
	{% endif %}
	<i class="fa fa-2x fa-angle-down"></i>
</header>
</div>

{% endif %}
