
{% if is_granted("ROLE_ADMIN") %}

<div class="slide-admin container-fluid px-0">

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'slide', 'item': item } )) }}

</div>

{% endif %}
