
{% if item.name is not null %}
<div class="slide-header-wrapper">
<header class="slide-header">
	{% if item.link %}
	<a href="{{ item.link }}" alt="{{ item.name }}">
		<h3 class="slide-title">{{ item.name }}</h3>
	</a>
	{% else %}
	<h3>{{ item.name }}</h3>
	{% endif %}
</header>
</div>
{% endif %}
