
{% if item.gallery and ( item.gallery.children|length or item.gallery.images|length ) %}

<div id="slide-{{ loop.index0 }}" class="slide fix_height {{ item.style }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

{% include "@MaciPage/Media/_album.html.twig" with { 'album': item.gallery }  %}

{% include "MaciPageBundle:Slides:_slide_caption_btn_next_out.html.twig" %}

</div>
</div>

{% endif %}
