
<div id="slide-{{ loop.index0 }}" class="slide {{ item.style }} {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper" style="background: url('{{ asset('/images/defaults/overlay.png') }}') repeat fixed left top / 256px 256px, url('{{ path('maci_media_get', {'path': item.media.path}) }}') no-repeat center center / cover rgba(0, 0, 0, 0);">

	<div class="slide-caption col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" with { 'item': item } %}

	</div>

</div>
</div>
