
<div id="slide-{{ loop.index0 }}" class="slide {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% include "MaciPageBundle:Slides:_slide_background.html.twig" %}

	<div class="slide-background-overlay"></div>

	<div class="slide-caption-wrapper">
	<div class="slide-caption col-xs-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" with { 'item': item } %}

	</div>
	</div>

</div>
</div>
