
<div id="slide-{{ loop.index0 }}" class="slide {{ item.style }} {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% include "MaciPageBundle:Slides:_slide_background.html.twig" %}

	<div class="slide-background-overlay"></div>

	<div class="slide-caption-wrapper">
	<div class="slide-caption col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

		{% include "MaciPageBundle:Slides:_slide_caption_header.html.twig" with { 'item': item } %}

		{% include "MaciPageBundle:Slides:_slide_caption_content.html.twig" with { 'item': item } %}

		<div class="contacts_address row">

			{% include "@MaciPage/Media/_contacts.html.twig" %}

			{% include "@MaciPage/Media/_opening_hours.html.twig" %}

		</div>

		<div class="row">

			{{ render(controller('MaciPageBundle:Contact:form')) }}

		</div>

		{% include "MaciPageBundle:Slides:_slide_caption_btn_next_in.html.twig" %}

	</div>
	</div>

</div>
</div>
