
{% if item.gallery.images|length %}

<div id="slide-{{ loop.index0 }}" class="slide {{ item.style }} default {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% if gallery_params is not defined %}
	{% set gallery_params = { 'list': item.gallery.images, 'type': 'multiple', 'controls': false, 'indicators': true, 'multiple_len': 3, 'caption': 'after' } %}
	{% endif %}

	{% include "@MaciPage/Media/_slider.html.twig" with gallery_params %}

	<div class="slide-caption">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" %}

	</div>

</div>
</div>

{% endif %}
