
<div id="slide-{{ loop.index0 }}" class="slide fix_height {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	<div class="slide-caption col-xs-12 col-sm-10 col-sm-offset-1">

		{% include "MaciPageBundle:Slides:_slide_caption_header.html.twig" %}

		{% include "MaciPageBundle:Slides:_slide_caption_content.html.twig" %}

		{{ render(controller('MaciPageBundle:Blog:lastPosts' )) }}

		{% include "MaciPageBundle:Slides:_slide_caption_btn_next_in.html.twig" %}

	</div>

</div>
</div>

