
<div id="slide-{{ loop.index0 }}" class="slide {{ item.style }} default {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	<div class="slide-caption">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" with { 'item': item } %}

	</div>

	{% if item.gallery.images|length %}

	{% include "@MaciPage/Media/_slider.html.twig" with { 'list': item.gallery.images, 'type': 'quads', 'controls': false, 'indicators': true, 'multiple_len': 3, 'caption': 'after' } %}

	{% endif %}

	<div class="button-next btn-out">

	{% include "MaciPageBundle:Slides:_slide_caption_btn_next.html.twig" %}

	</div>

</div>
</div>
