
{% if item.slides|length or item.album.images|length %}

<div id="slide-{{ loop.index0 }}" class="slide slider {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% include "@MaciPage/Media/_slider.html.twig" with { 'list': item.slides|length ? item.slides : item.album.images, 'caption': true } %}

</div>
</div>

{% endif %}
