
<div id="slide-{{ loop.index0 }}" class="slide slider {{ item.style }} {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% if item.gallery.images|length %}

	{% include "@MaciPage/Media/_slider.html.twig" with { 'album': item.gallery, 'full': true, 'controls': false, 'caption': true } %}

	{% endif %}

</div>
</div>
