
<div id="slide-{{ loop.index0 }}" class="slide slider {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% if item.Slides|length %}

	{% include "@MaciPage/Media/_slider.html.twig" with { 'list': item.Slides, 'controls': false, 'indicators': false } %}

	{% elseif item.album is defined and item.album.images|length %}

	{% include "@MaciPage/Media/_slider.html.twig" with { 'list': item.album.images, 'controls': false, 'indicators': false } %}

	{% endif %}

</div>
</div>
