
<div id="slide-{{ loop.index0 }}" class="slide {{ item.type }} {% if album.id is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	<div class="slider-caption-image">
		<img src="{{ path('maci_media_get', {'path': item.media.path}) }}" class="img-fluid">
	</div>

	<div class="slide-caption col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" with { 'item': item } %}

	</div>

	{% include "MaciPageBundle:Slides:_slide_caption_btn_next_out.html.twig" %}

</div>
</div>
