
<div id="slide-{{ loop.index0 }}" class="slide fix_height {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	<div class="slide-caption col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

		{% include "MaciPageBundle:Slides:_slide_caption.html.twig" %}

	</div>

	{% include "MaciPageBundle:Slides:_slide_caption_btn_next_out.html.twig" %}

</div>
</div>
