
{% for item in list %}

<div class="blog-list row">

{% include "@MaciPage/Blog/_item.html.twig" with { 'post': item } %}

</div>

{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endfor %}
