
{% if list is not defined %}
{% set list = post.images %}
{% endif %}

{% if list|length %}

<div class="media-list">
<div class="row">

{% for item in list %}

<div class="media-item{% if list|length == 1 %} unique{% else %} col-xs-6 col-sm-6 col-md-4{% endif %}">

{% include "@MaciPage/Media/_media_item.html.twig" %}

</div>

{% if ( loop.index % 3 ) == 0 %}

</div>

<div class="row">

{% endif %}

{% endfor %}

</div>
</div>

{% endif %}
