
{% if list is not defined %}
{% set list = post.images %}
{% endif %}

{% if list|length %}

<div class="row">

{% for item in list %}

{% include "@MaciPage/Blog/_media_item.html.twig" %}

{% if ( loop.index % 4 ) == 0 %}

</div>

<div class="row">

{% endif %}

{% endfor %}

</div>

{% endif %}
