
{% if post.author %}
<nav class="post-author-nav navbar navbar-expand flex-column">
	<ul class="navbar-nav mr-auto">

		<li class="nav-item">
			<span class="navbar-text post-author-label">
				{{ 'blog.post.author' | matra('Author') }}:
				<span class="post-author-name">{{ post.author }}</span>
			</span>
		</li>

	</ul>
</nav>
{% endif %}
