
{% if post.link %}
<nav class="post-permalink-nav navbar navbar-expand flex-column">
	<ul class="navbar-nav mr-auto">

		{% set post_permalink = url('maci_blog_post_permalink', {'link': post.link}) %}
		<li class="nav-item post-permalink">
			<p class="navbar-text">
				<span class="post-permalink post-label" class="">{{ 'page.permalink' | matra('Permalink') }}:</span>
				<a class="post-permalink post-val" href="{{ post_permalink }}">{{ post_permalink }}</a>
			</p>
		</li>

	</ul>
</nav>
{% endif %}
