
{% if post.author %}
<nav class="post-author-nav navbar navbar-expand flex-column">
	<ul class="navbar-nav mr-auto">

		<li class="nav-item">
			<p class="navbar-text">
				<span class="post-author post-nav-label">{{ 'blog.post.author' | matra('Author') }}:</span>
				<span class="post-author post-nav-val">{{ post.author }}</span>
			</p>
		</li>

	</ul>
</nav>
{% endif %}
