
{% if post.author %}
<nav class="post-author-nav navbar">
	<ul class="nav navbar-nav">

		<li>
			<span class="navbar-text post-author-label">
				{{ 'blog.post.author' | matra('Author') }}:
				<span class="post-author-name">{{ post.author }}</span>
			</span>
		</li>

	</ul>
</nav>
{% endif %}
