
{% if post.tags|length %}
<nav class="navbar">
	<ul class="post-tags-nav nav navbar-nav">

		{% for tag in post.tags %}
		<li>
			<a href="{{ path('maci_blog_tag', { 'id': tag.id }) }}">{{ tag }}</a>
		</li>
		{% endfor %}

	</ul>
</nav>
{% endif %}
