<div class="page row">

<section class="page_terms page_container container-fluid">

<h2>{{ title }}</h2>

<p>To make our website easier and more enjoyable, we use cookies throughout the site. Cookies are little pieces of data that allow us to compare new and past visitors, understand how users navigate through our site, and provide us with data that we can use to make the experience more enjoyable and more effective in the future. Cookies do not log any personal information about a user, and identifiable data will never be stored. If you would like to avoid the use of cookies, you must tailor your computer settings to erase all website Cookies and/or notify you via a warning if cookies are being stored. To proceed without changes to the cookie implementation, simply continue to the site.</p>

<p>Visit www.aboutcookies.org for more information about cookies and how they affect you and your browsing experience.</p>

<h3>THE TYPES OF COOKIE WE USE</h3>

<h4>STRICTLY NECESSARY COOKIES</h4>

<p>These cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website. Without these cookies services you have asked for, like competition forms etc, cannot be provided.</p>

<h4>PERFORMANCE COOKIES</h4>

<p>These cookies collect information about how visitors use a website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how a website works. By using our website, you agree that we can place these types of cookies on your device.</p>

<h4>FUNCTIONALITY COOKIES</h4>

<p>These cookies allow the website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. For instance, the Pasqual Daniela website provides customized content based on user selected. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide services you have asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>

<p>By using our website, you agree that we can place these types of cookies on your device.</p>

<h3>HOW TO MANAGE COOKIES ON PCS</h3>

<p>If you want to allow cookies from our site, please follow the steps below.</p>

<h3>GOOGLE CHROME</h3>

<p>1. Click on 'Tools' at the top of your browser window and select Options<br/>
2. Click the 'Under the Hood' tab, locate the 'Privacy' section, and select the 'Content settings' button<br/>
3. Now select 'Allow local data to be set'</p>

<h4>MICROSOFT INTERNET EXPLORER 6.0, 7.0, 8.0, 9.0</h4>

<p>1. Click on 'Tools' at the top of your browser window and select 'Internet options', then click on the 'Privacy' tab<br/>
2. Ensure that your Privacy level is set to Medium or below, which will enable cookies in your browser<br/>
3. Settings above Medium will disable cookies</p>

<h4>MOZILLA FIREFOX</h4>

<p>1. Click on 'Tools' at the top of your browser window and select Options<br/>
2. Then select the Privacy icon<br/>
3. Click on Cookies, then select 'allow sites to set cookies'</p>

<h4>SAFARI</h4>

<p>1. Click on the Cog icon at the top of your browser window and select the 'Preferences' option<br/>
2. Click on 'Security', check the option that says 'Block third-party and advertising cookies'<br/>
3. Click 'Save'</p>

<h3>How to manage cookies on Macs</h3>

<p>If you want to allow cookies from our site, please follow the steps below.</p>

<h4>Microsoft Internet Explorer 5.0 on OSX</h4>

<p>1. Click on 'Explorer' at the top of your browser window and select 'Preferences' options<br/>
2. Scroll down until you see 'Cookies' under Receiving Files<br/>
3. Select the 'Never Ask' option</p>

<h4>SAFARI ON OSX</h4>

<p>1. Click on 'Safari' at the top of your browser window and select the 'Preferences' option<br/>
2. Click on 'Security' then 'Accept cookies'<br/>
3. Select the 'Only from site you navigate to'</p>

<h4>MOZILLA AND NETSCAPE ON OSX</h4>

<p>1. Click on 'Mozilla' or 'Netscape' at the top of your browser window and select the 'Preferences' option<br/>
2. Scroll down until you see cookies under 'Privacy &amp; Security'<br/>
3. Select 'Enable cookies for the originating web site only'</p>

<h4>OPERA</h4>

<p>1. Click on 'Menu' at the top of your browser window and select 'Settings'<br/>
2. Then select 'Preferences', select the 'Advanced' tab<br/>
3. Then select 'Accept cookies' option</p>

<h3>DATA PRIVACY STATEMENT FOR GOOGLE ANALYTICS</h3>

<p>This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your anonymised IP address) will be transmitted to and stored by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</p>

<p>You can prevent Google from detecting a cookie that is generated because of and related to your usage of this website (including your IP address) as well as processing of these data by downloading and installing this browser plugin: http://tools.google.com/dlpage/gaoptout?hl=en</p>

</section>

</div>
