<div class="page row">

<section class="page_terms page_container container-fluid">

<h2>Informativa sui Cookie</h2>

<h3>Cosa sono i cookie</h3>

<p>Come indicato nell'<a href="{{ path('maci_page', {'path': 'privacy'}) }}">Informativa sulla Privacy</a>, per rendere il nostro sito più facile ed intuitivo facciamo uso dei cookie. I cookie sono piccole porzioni di dati che ci permettono di confrontare i visitatori nuovi e quelli passati e di capire come gli utenti navigano attraverso il nostro sito. Utilizziamo i dati raccolti grazie ai cookie per rendere l'esperienza di navigazione più piacevole e più efficiente in futuro.</p>
<p>I cookie registrano esclusivamente le informazioni necessarie a migliorare l’esperienza di navigazione e non memorizzano dati identificativi non necessari per la predetta finalità. Se si desidera disabilitare l'uso dei cookie è necessario personalizzare le impostazioni del proprio dispositivo impostando la cancellazione di tutti i cookie o attivando un messaggio di avviso quando i cookie vengono memorizzati. Per procedere senza modificare l’impostazione dei cookie è sufficiente continuare con la navigazione.</p>
<p>Visita <a href="https://aboutcookies.org/" target="_blank">AboutCookies.org</a> per ulteriori informazioni sui cookie e su come influenzano la tua esperienza di navigazione.</p>

<h3>I tipi di cookie utilizzati</h3>

<h4>Cookie di Marketing</h4>
<ol>
	<li>
		<h5>Performance cookie</h5>
		<p>Questi cookie raccolgono informazioni su come gli utenti utilizzano un sito web, ad esempio, quali sono le pagine più visitare e se si ricevono messaggi di errore da pagine web. Questi cookie non raccolgono informazioni che identificano un visitatore. Tutte le informazioni raccolte tramite cookie sono aggregate e quindi anonime. Vengono utilizzati solo per migliorare il funzionamento di un sito web.</p>
		<p>Utilizzando il nostro sito, l'utente accetta che tali cookie possono essere installati sul proprio dispositivo.</p>
	</li>
	<li>
		<h5>Cookie di terze parti</h5>
		<p>I cookie di terze parti sono cookie impostati da un sito web diverso da quello che si sta attualmente visitando. Ad esempio, un sito terzo potrebbe contenere al suo interno un pulsante "Mi piace" di Facebook. Quel pulsante imposterà un cookie che può essere letto da Facebook. Questo è considerato come un cookie di terze parti.</p>
		<p>Alcuni inserzionisti pubblicitari utilizzano questi tipi di cookie per tenere traccia delle visite dell'utilizzatore su tutti i siti sui quali offrono i propri servizi. Se un utente ritiene che questa tracciabilità possa essere fonte di preoccupazione e di ingerenza nella propria privacy, è possibile disattivare i cookie di terze parti attraverso la gestione delle impostazioni del browser web.</p>
	</li>
</ol>

<h4>Cookie di funzionalità</h4>
<p>I cookie consentono al sito di ricordare le scelte fatte dall’utente (come il nome, la lingua o la regione di provenienza) e forniscono funzionalità avanzate personalizzate. Questi cookie possono essere utilizzati anche per ricordare le modifiche apportate alla dimensione del testo, font ed altre parti di pagine web che è possibile personalizzare. Essi possono anche essere utilizzati per fornire servizi che l’utente ha chiesto, come guardare un video o i commenti su un blog. Le informazioni raccolte da questi tipi di cookie possono essere rese anonime e non in grado di monitorare l’attività di navigazione dell’utente su altri siti web.</p>
<p>Utilizzando il nostro sito, l'utente accetta che tali cookie possono essere installati sul proprio dispositivo.</p>

<h4>Cookie indispensabili</h4>
<p>Questi cookie sono essenziali al fine di consentire di spostarsi in tutto il sito ed utilizzare appieno le sue caratteristiche, come ad esempio accedere alle varie aree protette del sito. Senza questi cookie alcuni servizi, come la cronologia di navigazione, non possono essere fruiti.</p>

<h4>Note:</h4>
<p>La disattivazione dei cookie di terze parti può impedire in alcuni casi il tracciamento da parte degli inserzionisti pubblicitari, per maggiori informazioni si rimanda al sito <a href="https://aboutcookies.org/" target="_blank">AboutCookies.org</a>.</p>
<p>Per ulteriori informazioni sul tracciamento delle attività da parte di inserzionisti pubblicitari, sul funzionamento di cookie di terze parti presenti in questo sito e per le loro politiche privacy si rimanda ai seguenti link:</p>

<p><a href="https://marketingplatform.google.com/intl/it_ALL/about/analytics/" target="_blank">Google Analytics</a>: strumento di analisi e profilazione dati utente;</p>
<p><a href="https://marketingplatform.google.com/about/tag-manager/" target="_blank">Google Tag Manager</a>: sistema di gestione dei tag;</p>
<p><a href="https://ads.google.com/" target="_blank">Google Ads</a>: soluzione per la pubblicità online di Google;</p>
<p><a href="https://www.awin.com" target="_blank">Awin</a>: piattaforma per affiliate marketing;</p>
<p><a href="https://bingads.microsoft.com" target="_blank">Bing Ads</a>: soluzione per la pubblicità online;</p>
<p><a href="http://www.criteo.com/" target="_blank">Criteo</a>: piattaforma per effettuare Dynamic Retargeting (Remarketing);</p>
<p><a href="http://www.facebook.com/business/ads/" target="_blank">Facebook Ads</a>: soluzione per la pubblicità online di Facebook;</p>
<p><a href="http://www.hotjar.com/" target="_blank">Hotjar</a>: piattaforma per monitorare mappe di calore e capire il comportamento degli utenti;</p>
<p><a href="http://www.olapic.com/" target="_blank">Olapic</a>: visual content platform, piattaforma per raccogliere contenuti pubblicati dalle clienti sui social o direttamente sul sito attraverso una gallery;</p>
<p><a href="https://developers.google.com/gtagjs/" target="_blank">Google Global Tag</a>: strumento che serve per migliorare il tracciamento tra tutti gli strumenti di marketing, specialmente quelli di Google;</p>
<p><a href="http://www.adroll.com/" target="_blank">AdRoll</a>: piattaforma per effettuare Dynamic Retargeting (Remarketing).</p>

<p>L’elenco delle terze parti è soggetto ad aggiornamenti.</p>
<p>I siti web possono utilizzare i cookie di terze parti per scopi che non sono necessariamente legati alla privacy e la loro disattivazione può interferire con il corretto funzionamento di quei siti.</p>

</section>

</div>
