{% extends "@MaciPage/Layout/terms_layout.html.twig" %}
{% set title = 'terms.cookie.title'|matra('Cookies Policy') %}
{% use "@MaciPage/Terms/_terms_default_blocks.html.twig" %}

{% block leftMenu %}
<nav>{{ knp_menu_render('privacy', {'currentClass': 'active'}) }}</nav>
{% endblock %}

{% block content %}
{% set stt = ( "MaciPageBundle:Terms:cookies_" ~ app.request.locale ~ ".html.twig" ) %}
{% include [stt, "MaciPageBundle:Terms:cookies_en.html.twig"] %}
{% endblock %}
