<section class="page_terms page_container">

<h2>Cookies Policy</h2>

<h3>What cookies are</h3>
<p>As stated in the <a href="{{ path('maci_page', {'path': 'privacy'}) }}">Privacy Policy</a>, to make our website easier and more enjoyable, we use cookies throughout the site. Cookies are little pieces of data that allow us to compare new and past visitors, understand how users navigate through our site. We use data gathered thanks to the cookies to make the experience more enjoyable and more effective in the future.<br/>
Cookies exclusively log information required to improve your browsing experience and do not store any identification data which are unnecessary for this purpose. If you would like to disable the use of cookies, you must tailor your device settings to erase all website Cookies or activate a warning message if cookies are being stored. To proceed without changes to the cookie settings, simply continue browsing to the site.<br/>
Visit <a href="https://aboutcookies.org/" target="_blank" rel="nofollow">AboutCookies.org</a> for more information about cookies and how they affect your browsing experience.</p>

<h2>The types of cookie we use</h2>

<h3>Strictly necessary cookies</h3>
<p>These cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website. Without these cookies services you have asked for, like browsing history etc, cannot be provided.</p>

<h3>Performance cookies</h3>
<p>These cookies collect information about how visitors use a website, for instance which pages visitors go to most often and if they get error messages from web pages. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how a website works.<br/>
By using our website, you agree that we can place these types of cookies on your device.</p>

<h3>Functionality cookies</h3>
<p>These cookies allow the website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customize. They may also be used to provide services you have asked for, such as watching a video or commenting on a blog. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.<br/>
By using our website, the user agrees that we can place these types of cookies on their device.</p>

<h3>Third-party cookies</h3>
<p>Third-party cookies are cookies set by a website other than the one you are currently browsing. For example, a third site may contain a Facebook "Like" button. That button will set a cookie that can be read by Facebook. This is a third-party cookie.<br/>
Some advertisers use these types of cookie to track user’s visits on all the sites on which they offer their services. If a user believes that this tracking can be a source of concern and interference in their own privacy, it is possible to disable third-party cookies by altering the settings of one’s web browser.
</p>

<h4>Note:</h4>
<p>The deactivation of third-party cookies may in some cases prevent the tracking by advertisers, for more information please refer to the <a href="https://aboutcookies.org/" target="_blank" rel="nofollow">AboutCookies.org</a>.</p>
<p>For more information on the tracking of activities by advertisers, the operation of third-party cookies on this site and their privacy policies please refer to the following links:
</p>

<p><a href="https://marketingplatform.google.com/intl/it_ALL/about/analytics/" target="_blank">Google Analytics</a>: user data analysis and profiling tool;</p>
{#}
<p><a href="https://marketingplatform.google.com/about/tag-manager/" target="_blank">Google Tag Manager</a>: tag management system;</p>
<p><a href="https://ads.google.com/" target="_blank">Google Ads</a>: Google online advertising solution;</p>
<p><a href="https://www.awin.com" target="_blank">Awin</a>: platform for affiliate marketing;</p>
<p><a href="https://bingads.microsoft.com" target="_blank">Bing Ads</a>: online advertising solution;</p>
<p><a href="http://www.criteo.com/" target="_blank">Criteo</a>: platform for Dynamic Retargeting (Remarketing);</p>
<p><a href="http://www.facebook.com/business/ads/" target="_blank">Facebook Ads</a>: Facebook online advertising solution;</p>
<p><a href="http://www.hotjar.com/" target="_blank">Hotjar</a>: platform for monitoring heatmaps and understanding users’ behavior;</p>
<p><a href="http://www.olapic.com/" target="_blank">Olapic</a>: visual content platform, platform for collecting the contents published by customers on social networks or directly on the site through a gallery;</p>
<p><a href="https://developers.google.com/gtagjs/" target="_blank">Google Global Tag</a>: tool used to improve the tracking out of all marketing tools, especially Google’s ones;</p>
<p><a href="http://www.adroll.com/" target="_blank">AdRoll</a>: platform for Dynamic Retargeting.</p>
{#}

<p>The list of third parties is subject to updates.<br/>
Websites may use third-party cookies for purposes that are not necessarily related to privacy and their deactivation may interfere with the proper functioning of those sites.</p>

</section>
