

<div class="page">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container row">


<p>Per rendere il nostro sito più facile ed intuitivo facciamo uso dei cookie. I cookie sono piccole porzioni di dati che ci permettono di confrontare i visitatori nuovi e quelli passati e di capire come gli utenti navigano attraverso il nostro sito. Utilizziamo i dati raccolti grazie ai cookie per rendere l'esperienza di navigazione più piacevole e più efficiente in futuro. I cookie non registrano alcuna informazione personale su un utente e gli eventuali dati identificabili non verranno memorizzati. Se si desidera disabilitare l'uso dei cookie è necessario personalizzare le impostazioni del proprio computer impostando la cancellazione di tutti i cookie o attivando un messaggio di avviso quando i cookie vengono memorizzati. Per procedere senza modificare l'applicazione dei cookie è sufficiente continuare con la navigazione.</p>

<p>Visita AboutCookies.org per ulteriori informazioni sui cookie e su come influenzano la tua esperienza di navigazione.</p>

<h3>I TIPI DI COOKIE UTILIZZATI</h3>

<h4>COOKIE INDISPENSABILI</h4>

<p>Questi cookie sono essenziali al fine di consentire di spostarsi in tutto il sito ed utilizzare a pieno le sue caratteristiche, come ad esempio accedere alle varie aree protette del sito. Senza questi cookie alcuni servizi necessari, come la compilazione di un form per un concorso, non possono essere fruiti.</p>

<h4>PERFORMANCE COOKIE</h4>

<p>Questi cookie raccolgono informazioni su come gli utenti utilizzano un sito web, ad esempio, quali sono le pagine più visitare, se si ricevono messaggi di errore da pagine web. Questi cookie non raccolgono informazioni che identificano un visitatore. Tutte le informazioni raccolte tramite cookie sono aggregate e quindi anonime. Vengono utilizzati solo per migliorare il funzionamento di un sito web.</p>

<p>Utilizzando il nostro sito, l'utente accetta che tali cookie possono essere installati sul proprio dispositivo.</p>

<h4>COOKIE DI FUNZIONALITÀ</h4>

<p>I cookie consentono al sito di ricordare le scelte fatte dall’utente (come il nome, la lingua o la regione di provenienza) e forniscono funzionalità avanzate personalizzate. Questi cookie possono essere utilizzati anche per ricordare le modifiche apportate alla dimensione del testo, font ed altre parti di pagine web che è possibile personalizzare. Essi possono anche essere utilizzati per fornire servizi che hai chiesto come guardare un video o i commenti su un blog. Le informazioni raccolte da questi tipi di cookie possono essere rese anonime e non in grado di monitorare la vostra attività di navigazione su altri siti web.</p>

<p>Utilizzando il nostro sito, l'utente accetta che tali cookie possono essere installati sul proprio dispositivo.</p>

<h3>COME GESTIRE I COOKIE SUL TUO PC</h3>

<p>Se si desidera consentire i cookie dal nostro sito, si prega di seguire i passaggi riportati di seguito,</p>

<h4>GOOGLE CHROME</h4>

<p>1. Clicca su "Strumenti" nella parte superiore della finestra del browser e selezionare Opzioni<br/>
2. Fai clic sulla scheda 'Roba da smanettoni' , individua la sezione 'Privacy', e seleziona il pulsante "Impostazioni contenuto"<br/>
3. Ora seleziona 'Consenti dati locali da impostare'</p>

<h4>Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</h4>

<p>1. Clicca su "Strumenti" nella parte superiore della finestra del browser e seleziona 'Opzioni Internet', quindi fai clic sulla scheda 'Privacy'<br>
2. Per attivare i cookie nel tuo browser, assicurati che il livello di privacy è impostato su Medio o al di sotto,<br>
3. Impostando il livello di privacy sopra il Medio disattiverai l’utilizzo dei cookies.</p>

<h4>MOZILLA FIREFOX</h4>

<p>1. Clicca su "Strumenti" nella parte superiore della finestra del browser e seleziona “Opzioni”<br/>
2. Quindi seleziona l'icona Privacy<br>
3. Fai clic su Cookie, quindi seleziona 'permetto ai siti l’utilizzo dei cookie'</p>

<h4>SAFARI</h4>

<p>1. Fai clic sull'icona Cog nella parte superiore della finestra del browser e seleziona l'opzione "Preferenze"<br/>
2. Fai clic su 'Protezione', seleziona l'opzione che dice 'Blocco di terze parti e di cookie per la pubblicità'<br/>
3. Fai clic su 'Salva'</p>

<h3>COME GESTIRE I COOKIE SU MAC</h3>

<p>Se si desidera consentire i cookie dal nostro sito, si prega di seguire i passaggi riportati di seguito:</p>

<h4>MICROSOFT INTERNET EXPLORER 5.0 IN SU OSX</h4>

<p>1. Fai clic su 'Esplora' nella parte superiore della finestra del browser e seleziona l’opzione "Preferenze"<br/>
2. Scorri verso il basso fino a visualizzare "Cookie" nella sezione File Ricezione<br/>
3. Seleziona l'opzione 'Non chiedere'</p>

<h4>SAFARI SU OSX</h4>

<p>1. Fai clic su 'Safari' nella parte superiore della finestra del browser e seleziona l'opzione "Preferenze"<br/>
2. Fai clic su 'Sicurezza' e poi 'Accetta i cookie'<br/>
3. Seleziona “Solo dal sito”</p>

<h4>MOZILLA E NETSCAPE SU OSX</h4>

<p>1. Fai clic su 'Mozilla' o 'Netscape' nella parte superiore della finestra del browser e seleziona l'opzione "Preferenze"<br/>
2. Scorri verso il basso fino a visualizzare i cookie sotto 'Privacy e sicurezza'<br/>
3. Seleziona 'Abilita i cookie solo per il sito di origine'</p>

<h4>OPERA</h4>

<p>1. Fai clic su 'Menu' nella parte superiore della finestra del browser e seleziona "Impostazioni"<br/>
2. Quindi seleziona "Preferenze", seleziona la scheda 'Avanzate'<br/>
3. Quindi seleziona l’opzione 'Accetta i cookie "</p>

<h3>GOOGLE ANALYTICS</h3>

<p>Questo sito web utilizza Google Analytics, un servizio di analisi web fornito da Google , Inc. ("Google"). Google Analytics utilizza dei "cookies", che sono file di testo depositati sul Vostro computer per consentire al sito web di analizzare come gli utenti utilizzano il sito. Le informazioni generate dal cookie sull'utilizzo del sito web ( compreso il Vostro indirizzo IP anonimo ) verranno trasmesse e depositate presso i server di Google negli Stati Uniti. Google utilizzerà queste informazioni allo scopo di esaminare il Vostro utilizzo del sito web, compilare report sulle attività del sito per gli operatori dello stesso e fornire altri servizi relativi alle attività del sito web e all'utilizzo di internet. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di Google . Google non assocerà il vostro indirizzo IP a nessun altro dato posseduto da Google. Potete rifiutarvi di usare i cookies selezionando l'impostazione appropriata sul vostro browser, ma si prega di notare che se si fa questo non si può essere in grado di utilizzare tutte le funzionalità di questo sito web . Utilizzando il presente sito web, voi acconsentite al trattamento dei Vostri dati da parte di Google per le modalità ed i fini sopraindicati.</p>

<p>Si può impedire a Google il rilevamento di un cookie che viene generato a causa di e legato al Vostro utilizzo di questo sito web (compreso il Vostro indirizzo IP) e l'elaborazione di tali dati scaricando e installando questo plugin per il browser: http://tools.google.com/dlpage/gaoptout?hl=en</p>


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

