

<div class="page row">


{% include "@MaciPage/Page/_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container container-fluid">


</section>


{% include "@MaciPage/Page/_page_content.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_media.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_footer.html.twig" with { 'page': page } %}


</div>

