
<section class="page_terms page_container">

<h2 class="pc-title">MODALIT&Aacute; DI PAGAMENTO</h2>

<p class="pc-p">I metodi di pagamento a vostra disposizione sono i seguenti:</p>

<ul class="pc-ul">
	<li>Pagamento con PayPal o Carta di Credito.</li>
	<li>Bonifico Bancario.</li>
	<li>Pagamento in contanti alla consegna (contrassegno).</li>
</ul>

<h3 class="pc-subtitle">CONTRASSEGNO</h3>

<p class="pc-p">Il pagamento in Contrassegno, disponibile solo in Italia, ha un costo aggiuntivo di € 5,00.<br/>
Al momento della consegna occorre avere a disposizione in contanti l'importo esatto dell'ordine indicato nell'email di conferma della spedizione; il corriere non accetta assegni e non può dare resto.<br/>
Importante: per un eventuale rimborso è necessario avere un conto corrente bancario o postale.</p>

<h3 class="pc-subtitle">BONIFICO BANCARIO</h3>

<p class="pc-p">Dopo aver confermato l'ordine, è possibile completare il pagare effettuando il bonifico entro 3 giorni lavorativi. Una volta completato il trasferimento, l'ordine sarà spedito. Invieremo una email di conferma di conferma della spedizione.</p>

<p class="pc-p">Riportiamo di seguito i dati per il bonifico, che inviamo anche via email al momento della conferma dell'ordine:</p>

{% include "@MaciPage/Order/_bank_transfer_info.html.twig" %}

<h3 class="pc-subtitle">PAGAMENTO CON PAYPAL</h3>

<p class="pc-p">Dopo aver confermato i dati del tuo ordine, ti verr&agrave; chiesto di accedere al tuo conto PayPal per completare il pagamento. Se non possiedi ancora un conto PayPal lo puoi creare dalla pagina di log-in, prima di concludere l&rsquo;ordine, oppure puoi utilizzare PayPal per pagare con la tua carta di credito, senza registrarti. Usando PayPal puoi pagare con le seguenti carte: Mastercard, Discover, Diners, Visa, Maestro, Carta Aura, American Express, UnionPay. Il saldo viene addebitato sul tuo conto PayPal non appena completi l&rsquo;ordine.</p>

<h3 class="pc-subtitle">SICUREZZA DEL PAGAMENTO</h3>

<p class="pc-p">I pagamenti con carta di credito avvengono sul sito web di PayPal. Per maggiori informazioni sulla sicurezza dei pagamenti con PayPal, visita <a href="https://www.paypal.it/" target="_blank" rel="nofollow">PayPal.it.</a></p>

<h3 class="pc-subtitle">FATTURAZIONE E IVA</h3>

<p class="pc-p">Tutti i prodotti visualizzati online sono gi&agrave; comprensivi di IVA.</p>

<p class="pc-p">L&rsquo;acquisto sullo Shop Online di {{ company_title }} &egrave; riservato ai consumatori finali. Di conseguenza non &egrave; consentito l&rsquo;acquisto alle Aziende.</p>

<p class="pc-p">Il documento di fatturazione sar&agrave; inviato via e-mail al momento della spedizione dell&rsquo;ordine.</p>

</section>

{% if page %}

{% include "@MaciPage/Page/_page_content.html.twig" %}

{% include "@MaciPage/Page/_page_media.html.twig" %}

{% include "@MaciPage/Page/_page_footer.html.twig" %}

{% endif %}
