

<div class="page row">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container container-fluid">


<h2>MODALIT&Aacute; DI PAGAMENTO</h2>

<p>I metodi di pagamento a vostra disposizione sono i seguenti:</p>

<ul>
	<li>Pagamento con carta di credito: Visa, Visa Electron,&nbsp; Maestro, Mastercard, American Express, Paypal e Postepay.</li>
	<li>Pagamento in contanti alla consegna (contrassegno).&nbsp;&nbsp;</li>
</ul>

<h3>PAGAMENTO CON CARTA DI CREDITO</h3>

<p>Accettiamo tutte le carte che hanno logo Visa, American Express, Mastercard, Postepay e i bancomat Maestro e Visa Electron.<br />
Quando l&rsquo;ordine &egrave; confermato il relativo importo viene autorizzato sulla carta e verr&agrave; addebitato solo al momento della&nbsp; spedizione.</p>

<h3>PAGAMENTO CON PAYPAL</h3>

<p>Dopo aver confermato i dati del tuo ordine, ti verr&agrave; chiesto di accedere al tuo conto PayPal per completare il pagamento. Se non possiedi ancora un conto PayPal lo puoi creare dalla pagina di log-in, prima di concludere l&rsquo;ordine. Il tuo conto PayPal viene addebitato non appena completi l&rsquo;ordine.</p>

<h2>SICUREZZA DEL PAGAMENTO</h2>

<p>Tutta la procedura di pagamento si svolge tramite connessione protetta all&rsquo;istituto bancario titolare e gestore del pagamento online. I dati di pagamento saranno cifrati tramite protocollo SSL che garantisce la protezione dei dati trasmessi dalla decodifica e/o contraffazione dei dati stessi. Puoi contare anche sui certificati <strong>VeriSign e ATW.</strong></p>

<p>Per proteggere i tuoi acquisti con carta di credito, ti terr&agrave; sempre richiesto di inserire il codice CCV. Puoi stare tranquillo: usiamo solo connessioni sicure, come dimostra il simbolo del lucchetto che compare nel tuo browser e il prefisso &ldquo;https&rdquo; nella barra dell&rsquo;indirizzo.</p>

<p>Al fine di prevenire frodi su internet, {{ company_title }} potrebbe contattare il Cliente per maggiori dettagli sul pagamento prima che l&rsquo;ordine venga confermato. {{ company_title }} non viene a conoscenza degli estremi della carta di credito e non &egrave; quindi in grado di archiviarli o conservarli.</p>

<p>Per maggiore sicurezza tutti gli ordini effettuati con carta di credito o debito devono essere approvati da {{ company_title }}.</p>

<h3>FATTURAZIONE E IVA</h3>

<p>Tutti i prodotti visualizzati online sono gi&agrave; comprensivi di IVA.</p>

<p>L&rsquo;acquisto sullo Shop Online di {{ company_title }} &egrave; riservato ai consumatori finali. Di conseguenza non &egrave; consentito l&rsquo;acquisto alle Aziende.</p>

<p>Il nostro sistema di fatturazione &egrave; interamente automatizzato, pertanto non &egrave; possibile modificare i dati di fatturazione inseriti al momento dell&rsquo;ordine o emettere un nuovo documento a posteriori.</p>

<p><strong>Solo per l&rsquo;Italia</strong>, in fase di registrazione verr&agrave; richiesto di inserire il Codice Fiscale.</p>

<p>Occorre compilare attentamente il campo in quanto se il codice fiscale risultasse non corretto, non saremo in grado di modificarlo.</p>

<p>Il documento di fatturazione sar&agrave; inviato via e-mail al momento della spedizione dell&rsquo;ordine.</p>


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

