

<div class="page">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container row">


<h3>PAESI DI SPEDIZIONE</h3>

<p>Le spedizioni dello Shop Online di {{ company_title }} sono limitate ai Paesi che fanno parte dell&rsquo;Unione Europea e la Russia.</p>

<p>Nel dettaglio, si possono effettuare ordini dai seguenti paesi:<br />
Austria, Belgio, Bulgaria, Croazia, Cipro, Danimarca, Estonia, Finlandia, Francia, Germania, Grecia, Ungheria, Irlanda, Italia, Lettonia, Lituania, Lussemburgo, Malta, Olanda, Polonia, Portogallo, Repubblica Ceca, Regno Unito, Romania, Slovacchia, Slovenia, Spagna, Svezia.</p>

<h3>TEMPI E COSTI DI SPEDIZIONE</h3>

<p>Gli ordini effettuati tramite lo Shop Online di {{ company_title }} saranno processati, preparati e consegnati al corriere entro 24/72 ore successive dalla Conferma dell&rsquo;Ordine, dal luned&igrave; al venerd&igrave;.</p>

<p>Gli ordini potrebbero subire ritardi nella spedizione e consegna nel periodo Saldi e in caso di festivit&agrave;: 1 Gennaio,&nbsp; 6 Gennaio, Pasqua e Luned&igrave; dell&#39;Angelo, 25 Aprile, 1 Maggio, 2 Giugno, 15 Agosto, 1 Novembre, 8 Dicembre, 25 Dicembre, 26 Dicembre.</p>

<p>Tutti gli ordini sono processati in modo automatico e non siamo in grado di modificare i tempi di spedizione e consegna.</p>

<p>La spedizione STANDARD avverr&agrave; per l&rsquo;Italia indicativamente in 1- 3 giorni lavorativi&nbsp; successivi alla spedizione dal nostro magazzino di Bologna (per le isole la consegna sar&agrave; in 3-4 giorni lavorativi).</p>

<p>Per i Paesi Europei i tempi di consegna saranno 3-5 giorni lavorativi, per Cipro e Malta 8-10 giorni.</p>

<p>I costi delle spedizioni possono variare da Paese a Paese. Di seguito la tabella con le tariffe applicate per ogni Nazione:</p>



<p>Le spedizioni dello Shop Online di {{ company_title }} sono limitate ai paesi che fanno parte dell&rsquo;Unione Europea.</p>

<p>&Egrave; possibile effettuare un ordine in un paese diverso da quello di residenza, ma occorre selezionare i prodotti e completare l&#39;acquisto sul sito del paese nel quale si vuole avvenga la consegna dell&rsquo;ordine.</p>

<p>Potr&agrave; sempre cambiare la nazione di destinazione selezionando il Paese corretto dall&rsquo;area COUNTRY nel men&ugrave; in basso a destra.</p>

<p>Lo stesso prodotto visualizzato su Nazioni diverse pu&ograve; presentare differenze di prezzo.</p>

<h3>MONITORAGGIO E CONSEGNA DELL&rsquo;ORDINE</h3>

<p>Una volta spedito l&rsquo;ordine verr&agrave; inviata una email contenente il numero di tracking che permetter&agrave; di seguire lo stato della spedizione in tempo reale sul sito di SDA per l&rsquo;Italia e San Marino, e UPS per i Paesi Europei, fanno eccezione Cipro e Malta ai quali verr&agrave; inviato solo su richiesta il codice Export Box.</p>

<p>E&rsquo; sempre possibile contattare il Servizio Clienti nell&rsquo;eventualit&agrave; che il numero di tracking non risulti rintracciabile.</p>

<p>Per la consegna degli ordini online &egrave; possibile scegliere l&rsquo;indirizzo di spedizione pi&ugrave; comodo: a casa, in ufficio oppure presso un&rsquo;altra persona. Attenzione, non &egrave; possibile scegliere come indirizzo di spedizione una casella postale (P.O. box).</p>

<p>Il nostro corriere (SDA per l&rsquo;Italia e San Marino) consegna da luned&igrave; al venerd&igrave; in orario d&rsquo;ufficio. Saranno fatti 2 tentativi di consegna.&nbsp; Nel caso in cui il corriere non trovasse nessuno all&rsquo;indirizzo di spedizione indicato, verr&agrave; rilasciato un avviso con l&rsquo;indirizzo della filiale pi&ugrave; vicina dove poter ritirare il proprio ordine.</p>

<p>Il nostro corriere (UPS per Paesi UE) consegna da luned&igrave; al venerd&igrave; in orario d&rsquo;ufficio. Saranno fatti 3 tentativi di consegna.&nbsp; Dopo il terzo tentativo senza avvenuta consegna, il pacco viene automaticamente rispedito al magazzino dello Shop Online di {{ company_title }} e il Customer Care contatter&agrave; il Cliente via email al momento del rientro del pacco.</p>


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

