

<div class="page">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container row">


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

