

<div class="page row">


{% include "@MaciPage/Page/_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container container-fluid">


<p>Per individuare la taglia corretta &egrave; necessario consultare la tabella taglie che trovi qui.</p>

<p>Il Servizio Clienti rimane a disposizione per qualsiasi domanda inerente a taglie e vestibilit&agrave;.</p>

<h3>Abbigliamento</h3>

<table border="0">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <th>xs</th>
            <th>xs - s</th>
            <th>s - m</th>
            <th>m - l</th>
            <th>l - xl</th>
        </tr>
        <tr>
            <th>France</th>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
        </tr>
        <tr>
            <th>Italy / Europe</th>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
        </tr>
        <tr>
            <th>Germany</th>
            <td>32</td>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
        </tr>
        <tr>
            <th>Russia</th>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
            <td>48</td>
        </tr>
        <tr>
            <th>UK</th>
            <td>6</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Jeans</th>
            <td>24-25</td>
            <td>26-27</td>
            <td>27-28</td>
            <td>29-30</td>
            <td>31-32</td>
        </tr>
    </tbody>
</table>

<h2>Calzature</h2>

<table border="0">
    <tbody>
        <tr>
            <th>France</th>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
            <td>41</td>
            <td>42</td>
        </tr>
        <tr>
            <th>Italy / Europe</th>
            <td>36</td>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
            <td>41</td>
        </tr>
        <tr>
            <th>UK</th>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
    </tbody>
</table>
</div>


</section>


{% include "@MaciPage/Page/_page_content.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_media.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_footer.html.twig" with { 'page': page } %}


</div>

