
<table class="main wrapper">
<tbody>
<tr>
	<td>
		<h3>{{ 'contact_us_for_info'|matla('Contact us for more informations')  }}</h3>
	</td>
</tr>
</tbody>
</table>

<table class="main wrapper">
<tbody>
<tr>
	<td>
		<a class="button" href="{{ url('maci_page', {'path': 'page.contacts'|matro('contacts')}) }}">
			{{ 'contact_us'|matla('Contact Us')  }}
		</a>
	</td>
</tr>
</tbody>
</table>
