
{% if intro_message is not defined %}
{% set intro_message = 'mail.incipit'|matra('Dear Customer,') %}
{% endif %}

<table class="main">
<tbody>
<tr>
	<td class="order-status">

		{% if subscriber is defined %}
		<h4>{{ 'mail.subscriber-incipit'|matra('Dear %name%,')|replace({'%name%': subscriber.name}) }}</h4>
		{% elseif intro_message|length %}
		<h4>{{ intro_message }}</h4>
		{% endif %}

		{% if message is defined and message|length %}
		<p class="text">{{ message }}</p>
		{% endif %}

	</td>
</tr>
</tbody>
</table>
