
{% if order.payment == 'bank_transfer' %}
<table class="main wrapper">
<tbody>
<tr>
	<td>
		<h3>{{ 'order.complete.bank-tr-info'|matra('Bank Tranfers Details') }}</h3>
	</td>
</tr>
</tbody>
</table>
<table class="main wrapper">
<tbody>
<tr>
	<td>
		{% include "@MaciPage/Order/_bank_transfer_info.html.twig" %}
	</td>
</tr>
</tbody>
</table>
{% endif %}
