<html>
<head>

<title>{{ 'order.mails.order-confirmed'|matla('Order Confirmed') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.confirmed-text'|matra('we have received your order and are now processing it.')
} %}

{% include "@MaciPage/Email/_order_status.html.twig" %}

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
