<html>
<head>

<title>{{ 'order.mails.order-invoice'|matla('Order Invoice') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.invoice-text'|matra('you can find below the invoice for your order. Thank you for purchasing from our online store.')
} %}

{#% include "@MaciPage/Email/_order_INVOICE.html.twig" %#}

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
