<html>
<head>

<title>{{ 'order.mails.order-placed'|matla('Order Placed') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.placed-text'|matra('thank you for placing your order on our online store. You can find below a report of your purchase.')
} %}

{% include "@MaciPage/Email/_order_status.html.twig" %}

{% include "@MaciPage/Email/_order_details.html.twig" %}

{% include "@MaciPage/Email/_order_bank.html.twig" %}

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
