<html>
<head>
<style type="text/css">

{% include "@MaciPage/Email/mail.style.css" %}

</style>
</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.shipped-text'|matra('your order has been shipped.')
} %}

<table class="main">
<tbody>
<tr>
	<td>
		<span class="attr label">{{ 'order.code' | matra('Code') }}:</span>
		<span class="attr value"> {{ order.code }}</span><br/>
		<span class="attr label">{{ 'order.status' | matra('Status') }}:</span>
		<span class="attr value"> {{ order.statusLabel }}</span>
	</td>
</tr>
</tbody>
</table>

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
