<html>
<head>

<title>{{ 'order.mails.order-completed'|matla('Order Completed') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.completed-text'|matra('your order has been completed. You can find below a report of your purchase.')
} %}

{% include "@MaciPage/Email/_order_status.html.twig" %}

{% include "@MaciPage/Email/_order_details.html.twig" %}

{% include "@MaciPage/Email/_order_docs.html.twig" %}

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
