<html>
<head>
<style type="text/css">

{% include "@MaciPage/Email/mail.style.css" %}

</style>
</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.subscription-complete-text'|matra('thank you for signing up to our newsletter.')
} %}

{% include "@MaciPage/Email/_manage_link.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
