<html>
<head>

<title>{{ 'newsletter.subscribtion-completed.mail-title'|matla('Subscription Completed') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.subscription-complete-text'|matra('thank you for signing up to our newsletter.')
} %}

{% include "@MaciPage/Email/_footer.html.twig" %}

{% include "@MaciPage/Email/_manage_link.html.twig" %}

</body>
</html>
