
<div class="page page-checkout">
<div class="container">
<div class="row">

<div class="col-12 col-md-8"></div>

<div class="col-12 col-md-4">

{% if order.items|length %} {# --- Valid Checkout (^^) ---  #}

{% include "@MaciPage/Order/_cart_column.html.twig" with {'edit': false} %}

{% endif %} {# --- EndIf Checkout ---  #}

</div>

</div>
</div>
</div>
