
{% if payment == 'set' %}

{{ render(controller('MaciPageBundle:Order:cartSetPayment')) }}

{% elseif payment == 'setted' %}

<p>{{ maci_orders.cartPaymentLabel }}</p>
<a class="btn btn-success" href="{{ path('maci_order_checkout', {'id': order.id,'checkout':'payment'}) }}">
	{{ 'form.edit' | matra('Edit') }}
</a>

{#% elseif payment == 'toset' %#}
{% endif %}
