
<div class="page page-checkout">
<div class="container">
<div id="checkoutBar" class="py-3">

<ol class="cbar-list">
	<li class="cbar-item">
		<span class="cbar-label active">Shipping</span>
	</li>
	<li class="cbar-item">
		<span class="cbar-label active">Payment</span>
	</li>
	<li class="cbar-item">
		<span class="cbar-label active">Confirm</span>
	</li>
</ol>

</div>
<div id="checkoutWrapper" class="row">

<div id="checkoutPage" class="col-12 col-md-8">

{% if order.items|length %} {# --- Valid Checkout (^^) ---  #}

{% if checkout is defined and checkout %} {# --- Checkout Defined ---  #}





{% endif %} {# --- End Checkout Defined ---  #}

{% else %} {# --- Checkout not Valid ---  #}

<h3>{{ 'page.no_content' | matra('No Content.') }}</h3>

{% endif %} {# --- End Valid Checkout ---  #}

</div>

<div id="checkoutColumn" class="col-12 col-md-4">

{% if order.items|length %} {# --- Valid Checkout (^^) ---  #}

{% include "@MaciPage/Order/_cart_column.html.twig" with {'edit': false} %}

{% endif %} {# --- EndIf Checkout ---  #}

</div>

</div>
</div>
</div>
