
{% if shipping == 'set' %}

{{ render(controller('MaciPageBundle:Order:cartSetShipping')) }}

{% elseif shipping == 'setted' %}

<p>{{ maci_orders.cartShippingLabel }}</p>
<a class="btn btn-success" href="{{ path('maci_order_checkout', {'checkout':'shipping'}) }}">
	{{ 'form.edit' | matra('Edit') }}
</a>

{#% elseif shipping == 'toset' %#}
{% endif %}
