
<p class="checkout-link return-to-shopping">
	{{ 'checkout.footer.change-idea'|matra('Changed idea?') }}
	<a href="{{ path('maci_product') }}">{{ 'link.return-to-shopping'|matra('Return to Shopping') }}</a>.
</p>
