
<form class="maci_order_checkout_payment" action="{{ path('maci_order_checkout_set_payment') }}" method="post">

	<div class="form-group">
    	{{ form_errors(form) }}
	</div>

    {{ form_rest(form) }}

</form>
