
<h3 class="pc-title">{{ 'order.addresses'|matra('Addresses') }}</h3>

{% include "MaciPageBundle:Order:_show_addresses.html.twig" %}


<h3 class="pc-title">{{ 'order.items'|matra('Order Items') }}</h3>

{% include "MaciPageBundle:Order:_show.html.twig" %}
