{% extends "MaciAdminBundle::layout.html.twig" %}


{% block title %}

{{ 'order.confirmed.meta_title' | matra('Confirmed Orders') }}

{% endblock %}


{% block content %}

<section class="page_container user_page">

{% if confirmed|length %}
<h1>{{ 'menu.user.confirmed_orders'|matra('Confirmed Orders') }}</h1>
{% include "MaciPageBundle:Order:_manage_list.html.twig" with {'list': confirmed} %}
{% endif %}

{% if lasts|length %}
<h1>{{ 'menu.user.new_orders'|matra('New Orders') }}</h1>
{% include "MaciPageBundle:Order:_manage_list.html.twig" with {'list': lasts} %}
{% endif %}

</section>

{% endblock %}
