{% extends "@MaciPage/Layout/order.html.twig" %}

{% block title %}
{{ 'order.index.meta_title' | matra('Order List') }}
{% endblock %}

{% block content %}

<section class="page_container user_content user-orders-list">

<h1>{{ 'menu.user.order'|matra('Orders') }}</h1>

{% include "MaciPageBundle:Order:_list.html.twig" with { 'list': list } %}

</section>

{% endblock %}
