<html>
<head>


<title>{{ 'order.invoice.title'|matra('Invoice') }}</title>


<link rel="shortcut icon" href="favicon.ico" />


<style type="text/css">

body {
    padding: 0;
    background-color: #efefef;
    font-family: Tahoma;
}

.container {
    margin: 0 auto;
    width: 720px;
}

</style>


</head>
<body>


<div class="container">


{% include "MaciPageBundle:Order:_invoice.html.twig" with { 'order': order } %}


<footer id="footer">

<p align="center">

<a href="{{ path('maci_order') }}">&laquo; Back to Client Area</a>

</p>

</footer>


</div>


</body>
</html>
